
* {
    margin: 0;
    padding: 0;
}

body, html {
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.whole {
    width: 100%;
}

.container {
    
}


/************************* SECTION 1 **************************/


#section1 {
    width: 100%;
    height: 70vh;
}

#nav-bar {
  width: 100%;
  height: 70px;
  background-color: black;
  margin: 0;
  padding: 25px 0 25px 50px;
}


.nav-link {
  
  display: inline;
}

.overlay {
  width: 100%;
  height: 100%;
  background-image: url('workspace-coffee-laptop.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;
}

.intro {
  width: 100%;
  height: 100%;
  background-color: rgba(128, 0, 128, 0.8); 
}

a {
    color: white;
}

h1 {
    text-align: center;
}

#heading {
    color: white;
    font-size: 4em;
    padding: 14%;
}


/************************* SECTION 2 **************************/



#section2 {
  width: 100%;
  height: 350px;
  background-color: white;
}

.about-me {
    
}

.col-md-10 {
   padding: 0 50px; 
}

h3 {
    text-align: center;
    padding: 4% 4% 3% 4%;
}

#about-heading {
   text-align: center;
}

#about-text {
    text-align: center;
    font-size: 1.4em;
    padding: 0 150px;
}


/************************* SECTION 3 **************************/



#section3 {
   width: 100%;
   height: 625px;
   background-color: gainsboro;
   background-position: fixed;
 /*  padding-top: 4%; */
}


.skills {
    
}

.col-md-6 {
  text-align: center;
  width: 100%;
  height: 500px;
}

#frontend-heading {
  text-align: center; 
  text-decoration: underline;
}

#frontend-text {
  font-size: 1.2em;
  padding: 0 50px; 
  line-height: 1.5em;
}

#backend-heading {
  text-align: center;
  text-decoration: underline;
}

#backend-text {
   font-size: 1.2em;
   padding: 0 50px;
   line-height: 1.5em;
}

svg {
    
    margin: 30px 5px 30px 5px;
    height: 60px;
}

h2 {
    text-align: center;
}


h6 {
    color: navy;
    padding: 0 0 10px 0;
}



/************************* SECTION 4 **************************/



#section4 {
   width: 100%;
   height: 700px;
   background-color: white;
}

.projects {
    
}


.grid {
    
}

#projects-heading {
    
}



/************************* SECTION 5 **************************/



#section5 {
    width: 100%;
    height: 600px;
    background-color: black;
}

.contact {
    
}

#contact-form {
    
}

#contact-heading {
    
}





















