
* {
    margin: 0;
    padding: 0;
}

body, html {
    width: 100%;
    height: 100vh;
    background-image: url('skyline.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    overflow: hidden;
}

.overlay {
    width: 100%;
    height: 100vh;
    background-color: rgba( 0, 0, 0, 0.8); 
    padding: 2%;
}

.container-fluid {
    width: 100%;
    height: 100vh;
}

#header {
    text-align: center; 
    padding-top: 15%;
}

#intro {
    padding-top: 20%; 
}

h1 {
   font-family: "Comfortaa";
   font-size: 4.7em; 
}

p {
   font-family: "Comfortaa";
   font-size: 1.5em;
   text-align: center;
}

h3 {
     
}

.btn {
    margin: auto;
}

.active a{
    border-bottom: solid 2px white;
}

.active:hover {
    
}

#social {
  list-style-type: none;
 /* padding-top: 15%;
  float: left; */
  text-align: center;

}

#social a li {
  display: inline;
  padding: 1%;
    
}

#btn {
   position: absolute;
   bottom: 0;
   left: 0;
   right: 0;
   margin-bottom: 4%;
   color: white;
   font-size: 1.3em;
   font-family: "Muli";
   width: 20%;
   border-radius: 4em; 
   padding: 10px 0;
}

#btn:hover {
   background-color: gray;
   border: solid 1px gray;
}

.hollow-btn {
   text-align: center;
   margin-top: 6%;
}

.skills {
    font-family: "Muli";
    color: white;
    font-size: 1.5em;
    padding: 2% 3%;
    border-radius: 1em;
}

.skills:hover {
    text-decoration: none;
}

#skill1 {
    color: lime;
    border: solid 2px lime;
}

#skill2 {
    color: hotpink;
    border: solid 2px hotpink;
}

#skill3 {
    color: cyan;
    padding: 2% 4.4%;
    border: solid 2px cyan;
}

span {
    font-style: italic;
}

.navbar-li {
    display: inline;
    font-size: 1.3em;
    padding: 0 4%;
}





/*********************************************  MEDIA QUERIES *******************************************************/



@media (max-width: 950px) {
    h1 {
   font-size: 4em; 
}   
    
    p {
   font-size: 1.3em;
}
}




@media (max-width: 650px) {
    h1 {
   font-size: 3em; 
}   
    
    p {
   font-size: 1.1em;
}
}



@media (max-width: 600px) {
    #btn {
   margin-bottom: 4%;
   font-size: 1em;
   width: 18%;
}
}



@media (max-width: 550px) {
    #btn {
   width: 22%;
} 

   .overlay {
        padding-top: 6%;
    }
}
   


@media (max-width: 500px) {
   h1 {
   font-size: 2.7em; 
}   
    
    p {
   font-size: 1em;
}
    
    .skills {
    font-size: 1.2em;
    padding: 2% 2%;
}

#skill3 {
    color: cyan;
    padding: 2% 5%;
    border: solid 2px cyan;
}
    
    
.hollow-btn {
   margin-top: 10%;
}
    
#btn {
   width: 22%;
}
}



@media (max-width: 450px) {
    #btn {
   width: 30%;
}
}



@media (max-width: 400px) {
   h1 {
   font-size: 2.3em; 
}   
    
    .skills {
    font-size: 1.1em;
    padding: 2% 2%;
}
    
    #header {
    text-align: center; 
    padding-top: 22%;
}
    
    
    #btn {
   margin-bottom: 4%;
   font-size: 1em;
   width: 30%;
}
    
    #social a li {
  display: inline;
  padding: 3%;
    
}
}
    
    
    
@media (max-width: 300px) {
    #btn {
   width: 25%;
}
}    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    


